body{
    margin: 0vh;
    padding: 2vh;
  
    
}
.flow{
    display: flex;
    flex-direction: row ;
}
#left{
    background-color:rgb(62, 8, 98) ;
    width: 50vh;
    height: 200vh;
}

.photo{
    border-radius: 50%;
    padding: 1px;
    border: 0.8vh solid  rgb(179, 174, 174) ;
    
    margin-left: 10vh;
    margin-top: 8vh;

}
#box{

    background: rgb(179, 174, 174);
    width: 20vh;
    height: 4vh;
    margin-left: 15vh;
    border-radius: 0.5vh;

}
#box h3{
   color:white ;
   font-family: 'Orbitron', sans-serif;
   letter-spacing: 3px;
    margin-left: 0.5vh;
    margin-top: 15vh;       
    padding: 0.6vh;
    text-align:center;   
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
.profile p{
    font-family: 'Sunflower', sans-serif;
    color: white;
    margin-left: 3vh;
    font-size: 2.2vh;
    margin-top: 5vh;

}
.contact{
    margin-top: 5vh;
}
.contact p{
    font-family: 'Sunflower', sans-serif;
    color: white;
    margin-left: 3vh;
    font-size: 2.2vh;
    margin-top: 2vh;

}

.lang p{
    font-family: 'Sunflower', sans-serif;
    margin-left: 3vh;
    color: white;
    font-size: 2.2vh;
    margin-top: 3vh;

}
.lang{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.lois{
    font-family: 'Sunflower', sans-serif;
    margin-left: 3vh;
    color: white;
    font-size: 2.2vh;
    margin-top: 5vh;
}
#line1{
    background-image: linear-gradient(to right,rgb(86, 8, 138),rgb(86, 8, 138) ,rgb(86, 8, 138), rgb(158,156,156),rgb(158,156,156));
    width: 25vh;
    height: 1vh;
    margin-left: 7vh;
    
    }
    #line2{
        background-image: linear-gradient(to right,rgb(86, 8, 138),rgb(86, 8, 138) ,rgb(86, 8, 138), rgb(158,156,156));
        width: 25vh;
        height: 1vh;
        margin-left: 7vh;
        
        }
   #line3{
            background-image: linear-gradient(to right,rgb(86, 8, 138) ,rgb(86, 8, 138), rgb(158,156,156),rgb(158,156,156));
            width: 25vh;
            height: 1vh;
            margin-left: 7vh;
            
            }

.right{
    background-image:linear-gradient( to bottom, rgb(197, 184, 184) ,rgb(247, 242, 242)) ;
    width: 150vh;
    height: 200vh;

}
.name{
    font-family:'Syncopate', sans-serif;
    text-shadow: 4px 4px 10px rgba(163, 70, 240, 0.493);
    font-size: 3vh;
   margin-left: 20vh;
    color: rgb(62, 8, 98);
    padding: 1vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
#box2{
    background:rgb(62, 8, 98) ;
    width: 40vh;
    height: 6vh;
    margin-left: 6vh;
    border-radius: 0.5vh;

}
#box2 h1{
    color:white ;
   font-family: 'Orbitron', sans-serif;
   letter-spacing: 3px;
    margin-left: 0.5vh;
    margin-top: 8vh;       
    padding: 0.6vh;
    text-align:center;   
    bottom: 1.2vh;
    transform: translate translateY(-50%);
}
.exp{
    font-family: 'Sunflower', sans-serif;
    margin-left: 3vh;
    margin-right: 1vh;
    font-size: 2vh;
}
.form{
    font-family: 'Sunflower', sans-serif;
    margin-left: 3vh;
    margin-right: 1vh;
    font-size: 2vh;
}
.compt{
    font-family: 'Sunflower', sans-serif;
    margin-left: 3vh;
    margin-right: 1vh;
    font-size: 2vh;
}